.App {
  max-width: 867px;
  margin: 0 auto;
  padding: 64px 0;

  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-end {
  align-items: flex-end;
}

.col {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
}

.text-gray {
  color: #90919d;
}

.text {
  color: black;
  margin-bottom: 8px;
}

.visited-text span {
  font-weight: 600;
}

.title {
  font-weight: 500;
  
  color: #0054b9;
  margin-bottom: 16px;
}

.list {
  padding: 0;
}
